:root {
    --charcoal: #0F0F0F;
    --white: #ffffff;
}

h1,h2,h3,h4,h5,p,a{
    font-family: 'Georgia', sans-serif;
}

body{
    background-color: #36454F;
}

.player_info_container{
    overflow-y: auto;
    overflow-x: hidden;
    grid-row: 1/7;
    grid-column: 1;
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    height: 100%;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    transition: left 0.5s ease-in-out;
    align-content: center;
    row-gap: 100px;
    box-shadow: 0px 0px 5px 5px rgba(219,233,244,.3);
}

.topbar_container{
    width: 100%;
    height: 100px;
    background-size: cover;
    z-index: 1;
    display: flex;
    border: #8b939a 2px solid;
    justify-content: flex-start;
    background-color: #485461;
    align-items: center;
    border-radius: 10px;
}

.topbar_container > *{
    padding-left: 20px;
}

.scoreboard_container{
    width: 30%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
}

.scoreboard_container > h1{
    color: white;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

.scoreboard_player{
    width: 100%;
    display: flex;
    justify-content: initial;
    gap: 10px;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    height: 40px;
    background-color: grey;
    border-bottom: red 1px solid;
}

.scoreboard_player_avatar{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: red;
}

.avatar_logo{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: white;
    margin-top: 50px;
}

.avatar_card{
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.avatar_card > h1{
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

.avatar_card > h2{
    font-size: 16px;
    color: white;
    margin-top: -10px;    
}

.account_button{
    width: 50%;
    height: 36px;
    border: aquamarine 2px solid;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.5s;
}

.account_button:hover{
    background-color: aquamarine;
    color: black;
    transition: background-color 0.5s;
    cursor: pointer;
}

.account_button:hover > p{
    color: black;
    cursor: pointer;
    transition: color 0.5s;
}

p{
    transition: color 0.5s;
}

.account_button > p{
    color: aquamarine;
    margin: auto;
    text-align: center;
}

.daily_challenge_container{
    /* position: absolute; */
    margin: 10px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40%;
    z-index: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.daily_challenge_container > h1{
    color: white;
    text-decoration: underline;
}

.avalible_challenge_container{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: initial;
    flex-direction: column;    
}

.challenge_card{
    width: 80%;
    height: 120px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
}


.challenge_card > h2,h3,p{
    margin: auto;
    color: gray;
}

.challenge_card > h5{
    margin-top: 10px;
    color: white;
}

.rpg_poker_logo{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    background: url('../images/RPG\ POKER\ LOGO\ SMALL.png');
    background-size: 100px;
    background-repeat: no-repeat;
}

.tab_grid{
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    gap: 40px;
}

.tab_grid > a{
    cursor: pointer;
}

.signout_button{
    color: black;
    width: 100px;
    aspect-ratio: 3/1;
    border-radius: 10px;
    border: red 2px solid;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
}

.signout_button:hover{
    background-color: red;
    color: white;
    transition: background-color 0.5s;
    cursor: pointer;
}

.signout_button:hover > p{
    color: white;
    cursor: pointer;
    transition: color 0.5s;
}
.signout_button > p{
    color: black;
    margin: auto;
    text-align: center;
}


.grid-container {
    /* display: grid;
    grid-template-columns: 300px 20% 20% 20% 600px; 
    grid-template-rows: 150px 20% 20% 20% 20%;
    grid-gap: 5px;
    width: 100%;
    height: 100%;
    position: relative; */
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.dashboard-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 5px 5px rgba(219,233,244,.3);
    border-radius: 10px;
    z-index: 0;
    position: relative;
    flex-direction: column;
}

.choose_table_container{
    width: 80%;
    height: 100%;
    flex-direction: column;
}

.choose_table_container > *{
    margin: 20px;
}

.table_level_card{
    width: 200px;
    aspect-ratio: 2/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: whitesmoke;
    border: #8b939a 2px solid;
    cursor: pointer;
    transition: background-color 0.5s;
}

@media (max-width: 540px) {

    .grid-container{
        flex-direction: column;
    }

    .player_info_container{
        width: 100%;
        height: 800px;
    }

    body{
        overflow-y: scroll;
    }

    .choose_table_container{
        width: 100%;
        grid-column: 1/2;
        grid-row: 2/3;
    }

}

.play-game-and-learboard-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}