.sidenav{
    z-index: 9999;
}

.navbar{
    display: block;
    position: fixed;
    left: 0;
    width: 100%;
    max-width: 16rem;
    overflow: hidden;
    top: 0;
    bottom: 0;
}

.border-radius-xl{
    border-radius: 20px;
}
.darkmode{
    background-color: #171f25;
}

#main-dashboard{
    margin-left: 18rem;
    top: 0;
    bottom: 0;
    display: block;
    height: 100%;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
}

.avatar-container{
    margin: auto;
    display: block;
}

.avatar-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    display: block;
    background-color: #8b939a;
}


.circle{
    border-radius: 9999px;
}

.circle > img{
    background-size: cover;
}

.navbar-username{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.navbar-level{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 48px;
}

.navbar-divider{
    width: 80%;
    margin: auto;
    background-color: white;
    border: none;
}

.right-border-box{
    border-right: 3px solid rgba(132,201,251,0.08);
}

.navbar-navigation-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    color: white;
    padding: 10px 10px 10px 20px;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 20px;
    align-content: center;
}

.navbar-navigation-item > *{
    padding-left: 10px;
    margin-bottom: auto;
    margin-top: auto;
}

.navbar-navigation-item:hover{
    background-color: rgba(132,201,251,0.08);
    cursor: pointer;
}

.navbar-signout-button{
    margin-top: 100%;
}

.navbar-navigation-item > h5{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.icon{
    width: 32px;
    height: 24px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon-leaderboard{
    background-image: url("../images/icons/white/leaderboard-white.png");
}

.icon-how-to-play{
    background-image: url("../images/icons/white/book-white.png");
}

.icon-account{
    background-image: url("../images/icons/white/user-white.png");
}

.icon-card{
    background-image: url("../images/icons/white/card-white.png");
}

.icon-signout{
    background-image: url("../images/icons/white/logout-white.png");
}


:root {
    --charcoal: #0F0F0F;
    --white: #ffffff;
}

h1,h2,h3,h4,h5,p,a{
    font-family: 'Georgia', sans-serif;
}

body{
    background-color: #171f25;
}

.player_info_container{
    overflow-y: auto;
    overflow-x: hidden;
    /* grid-row: 1/7;
    grid-column: 1; */
    flex-direction: column;
    width: 250px;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    transition: left 0.5s ease-in-out;
    align-content: center;
    /* row-gap: 100px; */
    border-right: rgba(132,201,251,0.08) solid 4px;
}

hr{
    width: 80%;
}

.avatar_logo{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    /* background-color: white; */
    background: url("../images/RPG\ POKER\ LOGO\ SMALL.png");
    background-size: 100px;
    margin-top: 50px;
    border: #616E7C solid 5px;
}

.avatar_card{
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.dashboard-container{
    /* border: red solid 2px; */
}

.dashboard-container > *{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.choose-table-container, .leaderboard-container{
    padding: 10px;
    overflow: hidden;
    background: #1F2933;
}

/* .leaderboard-container{
    margin-bottom: 10px;
    margin-bottom: 10px;
} */

.choose-table-container, .leaderboard-container > h3{
    color: white;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

row:nth-child(2){
    height: 100px;
}

.choose-faction-container{
    padding: 10px;
    overflow: hidden;
    background: #1F2933;
}

.choose-faction-container > h3{
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.faction-button-container{
    flex-direction: row;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.faction-button{
    margin-right: 2px;
    border: antiquewhite solid 3px;
    height: 20px;
    display: inline-block;
    border-radius: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: content-box;
}

.faction-button:hover, .faction-button{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.f1{
    border: #B82929 solid 3px;
    background-color: #B82929;
}

.f1:hover{
    background-color: #B82929;
    transition: all 0.2s ease-in-out;
}

.f2{
    border: #7929B8 solid 3px;
}

.f2:hover, .f2:focus{
    background-color: #7929B8;
}

.f3{
    border: #2938B8 solid 3px;
}

.f3:hover{
    background-color: #2938B8;
    transition: all 0.2s ease-in-out;
}

.f4{
    border: #29B873 solid 3px;
}

.f4:hover{
    background-color: #29B873;
    transition: all 0.2s ease-in-out;
}

.f5{
    border: #B5B829 solid 3px;
}

.f5:hover{
    background-color: #B5B829;
    transition: all 0.2s ease-in-out;
}

.faction-button > *{
    font-size: 20px;
    color: white;
}

.table-card{
    background-color: antiquewhite;
    width: 250px;
    aspect-ratio: 2/1;
    display: inline-block;
    border-radius: 20px;
}

.table-card-container{
    flex-direction: row;
    gap: 20px;
    width: 100%;
    overflow: auto;
    margin-top: 30px;
    white-space: nowrap;
}

.table-card:nth-child(1){
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.table-card:nth-child(2){
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.table-card:nth-child(3){
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

}

.table-card:nth-child(4){
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.table-card:nth-child(5){
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
::-webkit-scrollbar {
    width: 2px;
    height: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    margin-top: 10px;
    background-color: rgba(132,201,251,0.4);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.daily-challenge-container{
    background: #1F2933;
    padding: 10px;
    overflow: hidden;
    height: 95%;
    overflow: hidden;
}

.daily-challenge-container > .row{
    background-color: red;
    display: none;
}

.challenge-cards-container{
    display: block;
    overflow-y: scroll;
}

.challenge-cards-container > .row{
    justify-content: center;
}

.challenge-card{
    background-color: #27313B;
    width: 100%;
    min-width: 100px;
    display: inline-block;
    border-radius: 10px;
    margin-top: 10px;
}

.flexbox{
    display: flex;
    align-items: center;
    height: 20px;
}

.placement-container{

}

.standing{
    width: 100%;
    height: 35px;
    background-color: #27313B;
    border-radius: 100px;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.standing-placement{
    width: 35px;
    height: 100%;
    border-radius: 100px;
    background-color: white;
}

.leaderboard-player-name{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: 10px;
    margin-top: 5px;
}

.leaderboard-player-level{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 5px;
}

.leaderboard-winnings{
    margin-left: auto;
    background-color: #58B82B;
    height: 70%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px;
    margin-top: 8px;
    color: white;
    font-size: 16px;
    margin-bottom: 8px;
}

.leaderboard-placement{
    text-align: center;
    background-color: rgba(255,255,255,0.1);
    margin-left: auto;
    margin-right: 10px;
    width: 28px;
    height: 28px;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px;
    margin-top: 8px;
    color: white;
    font-size: 16px;
    margin-bottom: 8px;
}

.leaderboard-placement.first{
    background-color: #827500;
}

.leaderboard-placement.second{
    background-color: #8E8E8E;
}

.leaderboard-placement.third{
    background-color: #825600;
}

.social-container{
    padding: 10px;
    overflow: hidden;
    background-color: #1F2933;
    height: 100%;
}

.social-container > h3{
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}







































.topbar_container{
    width: 100%;
    height: 100px;
    background-size: cover;
    z-index: 1;
    display: flex;
    border: #8b939a 2px solid;
    justify-content: flex-start;
    background-color: #485461;
    align-items: center;
    border-radius: 10px;
}

.topbar_container > *{
    padding-left: 20px;
}

.scoreboard_container{
    width: 30%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
}

.scoreboard_container > h1{
    color: white;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

.scoreboard_player{
    width: 100%;
    display: flex;
    justify-content: initial;
    gap: 10px;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    height: 40px;
    background-color: grey;
    border-bottom: red 1px solid;
}

.scoreboard_player_avatar{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: red;
}


.avatar_card > h1{
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

.avatar_card > h2{
    font-size: 16px;
    color: white;
    margin-top: -10px;    
}

.account_button{
    width: 50%;
    height: 36px;
    border: aquamarine 2px solid;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.5s;
}

.account_button:hover{
    background-color: aquamarine;
    color: black;
    transition: background-color 0.5s;
    cursor: pointer;
}

.account_button:hover > p{
    color: black;
    cursor: pointer;
    transition: color 0.5s;
}

p{
    transition: color 0.5s;
}

.account_button > p{
    color: aquamarine;
    margin: auto;
    text-align: center;
}

.daily_challenge_container{
    /* position: absolute; */
    margin: 10px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40%;
    z-index: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.daily_challenge_container > h1{
    color: white;
    text-decoration: underline;
}

.avalible_challenge_container{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: initial;
    flex-direction: column;    
}

.challenge_card{
    width: 80%;
    height: 120px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
}


.challenge_card > h2,h3,p{
    margin: auto;
    color: gray;
}

.challenge_card > h5{
    margin-top: 10px;
    color: white;
}

.rpg_poker_logo{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    background: url('../images/RPG\ POKER\ LOGO\ SMALL.png');
    background-size: 100px;
    background-repeat: no-repeat;
}

.tab_grid{
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    gap: 40px;
}

.tab_grid > a{
    cursor: pointer;
}

.signout_button{
    color: black;
    width: 100px;
    aspect-ratio: 3/1;
    border-radius: 10px;
    border: red 2px solid;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
}

.signout_button:hover{
    background-color: red;
    color: white;
    transition: background-color 0.5s;
    cursor: pointer;
}

.signout_button:hover > p{
    color: white;
    cursor: pointer;
    transition: color 0.5s;
}
.signout_button > p{
    color: black;
    margin: auto;
    text-align: center;
}


.grid-container {
    /* display: grid;
    grid-template-columns: 300px 20% 20% 20% 600px; 
    grid-template-rows: 150px 20% 20% 20% 20%;
    grid-gap: 5px;
    width: 100%;
    height: 100%;
    position: relative; */
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    gap: 10px;
}

/* .dashboard-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 5px 5px rgba(219,233,244,.3);
    border-radius: 10px;
    z-index: 0;
    position: relative;
    flex-direction: column;
} */

.choose_table_container{
    width: 80%;
    height: 100%;
    flex-direction: column;
}

.choose_table_container > *{
    margin: 20px;
}

.table_level_card{
    width: 200px;
    aspect-ratio: 2/1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.table_level_card > img{
    width: 100%;
    border-radius: 5px;
    background-size: 20px;
    margin-top: -50px;
}

.table_card-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 60px;
}

.play-game-and-learboard-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.hamburger-menu{
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    background-color: whitesmoke;
    width: 70px;
    height: 70px;
    margin: 20px;
    border-radius: 10px;
}

@media (max-width: 540px) {

    .grid-container{
        flex-direction: column;
    }

    .player_info_container{
        width: 100%;
        height: 800px;
    }

    .topbar_container{
        display: none;
    }

    body{
        overflow-y: scroll;
    }

    .choose_table_container{
        width: 100%;
        grid-column: 1/2;
        grid-row: 2/3;
        
    }

    .daily_challenge_container{
        display: none;
    }

    .hamburger-menu{
        display: block;
    }

}

