body {
    background: url("../images/poker_board_2.png");
    background-color: rgb(224, 224, 224);
    
    /*background: url("../images/pngkey.com-poker-table-png-1899311_cpy.png");
    background-color: tan;*/

    Background-size:1600px;
    inset: 0;
    background-repeat : no-repeat;
    background-position: 50% 50%;

    font-family: 'Roboto', sans-serif;
}

/*Central deck*/
.deck{
    background: url("../images/kisspng-playing-card-visual-arts-tarot-studio-5b07327b32c0c3.8514217315271983312079.png");
    background-size: 140px;
    background-position: center;
    position: absolute;
    top:200px;
    left:700px;
    height: 140px;
    width:100px;
}


/*Card 1 bot*/
.textBot1Name{
    background-color:White;
    position: absolute;
    top:375px;
    left:100px;
}
.textBot1Money{
    background-color:White;
    position: absolute;
    top:400px;
    left:100px;
}
.textBot1BetName{
    background-color:White;
    position: absolute;
    top:375px;
    left:220px;
}
.textBot1CurrBet{
    background-color:White;
    position: absolute;
    top:400px;
    left:220px;
}
.cardBot1card1{
    background: url("../images/kisspng-playing-card-visual-arts-tarot-studio-5b07327b32c0c3.8514217315271983312079.png");
    background-size: 140px;
    background-position: center;
    position:absolute;
    top:425px;
    left:100px;
    height:140px;

    width: 100px;
}

#ability-hotbar {
    position: absolute;

    display: inline-flex;
    justify-content: center;
    column-gap: 12px;

    bottom: 6px;

    /*margin-left: 50%;
    margin-right: auto;*/
    width: 100%;
}

.ability-button {
    position: relative;
    height: 48px;
    width: 48px;

    background-color: rgb(48, 48, 48);

    border: 4px solid rgb(20, 95, 156);
    border-radius: 12.5%;

    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.ability-button:hover {
    transform: translate(0, -20%);
    border-color: green;
}

#player-name {
    position: absolute;
    top: 0%;
    left: 1em;

    font-weight: bold;
    color: white;
    text-shadow:  0 0 2px black;
    font-size: 2rem;
}

#player-money {
    position: absolute;
    top: 1em;
    left: 1em;
    
    font-weight: bold;
    color: white;
    text-shadow:  0 0 2px black;
    font-size: 2rem;
}

.card {
    background: url("../images/kisspng-playing-card-visual-arts-tarot-studio-5b07327b32c0c3.8514217315271983312079.png");
    background-size: 140px;
    background-position: center;
    
    position: absolute;
    height: 140px;
    width: 100px;
}

#player-card-1 {
    top: 700px;
    left: 850px;
}

#player-card-2 {
    top: 700px;
    left: 975px;
}

/*.player-card:hover {
    animation-play-state: running;
}

.player-card {
    animation: test 0.8s ease-in-out infinite;
    animation-play-state: paused;
}

.player-card:not(:hover) {
    border-color: rgb(24, 24, 24);

    animation: stop_hover 1s linear infinite;
}*/

@keyframes stop_hover {
    100% {
        border-color: rgb(24, 24, 24);
    }
}

@keyframes test {
    0% {
        border-color: rgb(24, 24, 24);
    }
  
    50% {
        border-color: green;
    }

    100% {
        border-color: rgb(24, 24, 24);
    }
}

#ability-label {
    position: absolute;

    background-color: rgb(24, 24, 24);
    width: 144px;
    height: 48px;

    border: 1px solid rgb(162, 162, 162);

    opacity: 0;
}

#ability-label > p {
    position: absolute;
    word-wrap: wrap;
    top: 0%;
    margin-top: 0.25rem;

    color: rgb(162, 162, 162);
    text-align: center;
}

.cardBot1card2{
    background: url("../images/kisspng-playing-card-visual-arts-tarot-studio-5b07327b32c0c3.8514217315271983312079.png");
    background-size: 140px;
    background-position: center;
    position:absolute;
    top:425px;
    left:220px;
    height:140px;
    width: 100px;
}
/*Card bot 2*/
.textBot2Name{
    background-color:White;
    position: absolute;
    top:650px;
    left:400px;
}
.textBot2Money{
    background-color:White;
    position: absolute;
    top:675px;
    left:400px;
}
.textBot2BetName{
    background-color:White;
    position: absolute;
    top:650px;
    left:520px;
}
.textBot2CurrBet{
    background-color:White;
    position: absolute;
    top:675px;
    left:520px;
}
.cardBot2card1{
    background: url("../images/kisspng-playing-card-visual-arts-tarot-studio-5b07327b32c0c3.8514217315271983312079.png");
    background-size: 140px;
    background-position: center;
    position:absolute;
    top:700px;
    left:400px;
    height:140px;
    width: 100px;
}

.cardBot2card2{
    background: url("../images/kisspng-playing-card-visual-arts-tarot-studio-5b07327b32c0c3.8514217315271983312079.png");
    background-size: 140px;
    background-position: center;
    position:absolute;
    top:700px;
    left:520px;
    height:140px;
    width: 100px;
}
/*Card Bot 3*/
.textBot3Name{
    background-color:White;
    position: absolute;
    top:650px;
    left:1200px;
}
.textBot3Money{
    background-color:White;
    position: absolute;
    top:675px;
    left:1200px;
}
.textBot3BetName{
    background-color:White;
    position: absolute;
    top:650px;
    left:1320px;
}
.textBot3CurrBet{
    background-color:White;
    position: absolute;
    top:675px;
    left:1320px;
}
.cardBot3card1{
    background: url("../images/kisspng-playing-card-visual-arts-tarot-studio-5b07327b32c0c3.8514217315271983312079.png");
    background-size: 140px;
    background-position: center;
    position:absolute;
    top:700px;
    left:1200px;
    height:140px;
    width: 100px;
}

.cardBot3card2{
    background: url("../images/kisspng-playing-card-visual-arts-tarot-studio-5b07327b32c0c3.8514217315271983312079.png");
    background-size: 140px;
    background-position: center;
    position:absolute;
    top:700px;
    left:1320px;
    height:140px;
    width: 100px;
}
/*Card bot 4*/
.textBot4Name{
    background-color:White;
    position: absolute;
    top:375px;
    left:1600px;
}
.textBot4Money{
    background-color:White;
    position: absolute;
    top:400px;
    left:1600px;
}
.textBot4BetName{
    background-color:White;
    position: absolute;
    top:375px;
    left:1720px;
}
.textBot4CurrBet{
    background-color:White;
    position: absolute;
    top:400px;
    left:1720px;
}
.cardBot4card1{
    background: url("../images/kisspng-playing-card-visual-arts-tarot-studio-5b07327b32c0c3.8514217315271983312079.png");
    background-size: 140px;
    background-position: center;
    position:absolute;
    top:425px;
    left:1600px;
    height:140px;
    width: 100px;
}

.cardBot4card2{
    background: url("../images/kisspng-playing-card-visual-arts-tarot-studio-5b07327b32c0c3.8514217315271983312079.png");
    background-size: 140px;
    background-position: center;
    position:absolute;
    top:425px;
    left:1720px;
    height:140px;
    width: 100px;
}

/*Centre Cards*/

.cardFlop1{
    background: url("../images/kisspng-playing-card-visual-arts-tarot-studio-5b07327b32c0c3.8514217315271983312079.png");
    background-size: 140px;
    background-position: center;
    position:absolute;
    top:425px;
    left:600px;
    height:140px;
    width: 100px;
}

.cardFlop2{
    background: url("../images/kisspng-playing-card-visual-arts-tarot-studio-5b07327b32c0c3.8514217315271983312079.png");
    background-size: 140px;
    background-position: center;
    position:absolute;
    top:425px;
    left:750px;
    height:140px;
    width: 100px;
}
.cardFlop3{
    background: url("../images/kisspng-playing-card-visual-arts-tarot-studio-5b07327b32c0c3.8514217315271983312079.png");
    background-size: 140px;
    background-position: center;
    position:absolute;
    top:425px;
    left:900px;
    height:140px;
    width: 100px;
}

.cardTurn{
    background: url("../images/kisspng-playing-card-visual-arts-tarot-studio-5b07327b32c0c3.8514217315271983312079.png");
    background-size: 140px;
    background-position: center;
    position:absolute;
    top:425px;
    left:1050px;
    height:140px;
    width: 100px;
}
.cardRiver{
    background: url("../images/kisspng-playing-card-visual-arts-tarot-studio-5b07327b32c0c3.8514217315271983312079.png");
    background-size: 140px;
    background-position: center;
    position:absolute;
    top:425px;
    left:1200px;
    height:140px;
    width: 100px;
}
