/* //////////////////////////////////////////// */

/* 
    File Name: main.css
    File Use: This file is used to provide color variables and styling for all pages.
    (Including: Fonts, Colors, and Backgrounds)

    Used in: All Pages
*/

/* //////////////////////////////////////////// */

@import url(bootstrap/bootstrap.css);


:root {
    /* --dark50: #F5F7FA;
    --dark100: #F5F7FA
    --dark200: #F5F7FA
    --dark300: #F5F7FA */
    
}

body{
    overflow: hidden;
} 